Paste Nucleotide sequence in to the text area for translation to Amino Acid in the first reading frame and display.
<br/><br/>
<div class="block">
  <div class "content">
    <div class "inner">
      <div class "wat-cf">
        <%= form_tag({:controller => "sequence", :action => "translate"}, :method => "post", :class => "form") do %>
          <%= label_tag(:nuc_seq, "Nucleotide Sequence:") %><br/>
          <%= text_area_tag(:nuc_seq, "", :size => "75x10") %><br/>
          <%= submit_tag("Translate") %>
        <% end %>
        
      </div>
    </div>
  </div>
</div>